\section{Array layout}

\begin{tabular}{lr}
  \toprule
  Wings                 & << layout.topology.n_wings >>\\
  Panels per wing       & << layout.topology.n_panels_per_wing >>\\
  Panels (total)        & << layout.topology.n_panels_total >>\\
  Physical sections     & << layout.n_sections_total >>\\
  Strings (total)       & << layout.n_strings_total >>\\
  Solar cells (total)   & << layout.n_sca_total >>\\
  \bottomrule
\end{tabular}

\subsection{Section types}
\begin{tabular}{llrr}
  \toprule
  ID & Name & Strings $\Vert$ & SCAs/string\\
  \midrule
<<% for s in layout.section_types %>>
  << s.section_id | tex >> & << s.section_name | tex >>
                            & << s.n_strings_parallel >>
                            & << s.n_sca_series_per_string >>\\
<<% endfor %>>
  \bottomrule
\end{tabular}
