<% partial: a section-of-prose row, body comes from the narrative book %>
\section{<< section.title | tex >>}
<<% if section.description %>>
\noindent\textit{<< section.description | tex >>}
\par\vspace{0.4em}
<<% endif %>>
<<% set paragraphs = narrative.by_id(section.id) %>>
<<% if paragraphs %>>
<<% for p in paragraphs %>>
<< p | tex >>\par
<<% endfor %>>
<<% else %>>
\textit{(no narrative entries found for id ``<< section.id | tex >>'')}
<<% endif %>>
